@model VegetableShoppingCart.Models.Product

@{
    ViewBag.Title = "DetailDisplay";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<h2>DetailDisplay</h2>

<div>
    <h4>Product</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ImageURL)
        </dt>

        <dd>
            <img src="@Url.Content(Model.ImageURL)" width="100" height="100" />
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Category)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Category)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StockQuantity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StockQuantity)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Back to List", "UserDisplay")
</p>
